:host ::ng-deep {

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;

		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	li,
	cxra-ni {
		float: left;
		height: 86px;
		margin-top: auto;
		margin-bottom: auto;
		
		img {
			margin-top: 4px;
		}

		cxra-nb {
			background-color: #fa3e3e;
			border-radius: 18px;
			color: white;
			font-size: 10px;
			min-width: 10px;
			height: 10px;
			padding: 2px 3px 3px 2px;
		}
	}

	li a,
	cxra-ni a {
		position: relative;
		display: block;
		color: white;
		text-align: center;
		margin: 34px 28px;
		text-decoration: none;
		cursor: pointer;
	}

	li a:hover,
	cxra-ni a:hover {
		background-color: #111;
	}
	
}